<!DOCTYPE html>
<html lang="en">
<head>
<div>



            <th width = "5%" valign="top" > <h6 align="left"><b><font color = "#330019" >About-Us</font></b></h6></th>
            <th width = "5%" valign="top"> <h6 align="right"><b> <a href="/" > <font color = "#330019"> Home </font></a></b></h6></th>

</div>
    <style>
        .myBody
            {
                background-color: #ffecd9;
                font-family:verdana
                font-size: 40px;
            }
        .content
            {
                max-width: 1000px;
                margin: auto;
                margin-top: 40px;
             }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <style rel="stylesheet" type = "text/css" href= "{{ url_for('static',filename = 'css/style.css')}}"></style> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Sahi-Keemat</title>


</head>
<body align="center" style="background-color:#FEF9E7;">

<img align="center" src="static/sahi-keemat.png" width="300" height="300"></img>


<p align="left"><b><u>Why You Need Sahi-Keemat? </u></b></p>
<p align="left">

    <p align="left">Manual Price comparison for  grocery items leads to more impulsive buying and is time consuming.</p>
    <p align="left">Impulsive buying leads to increase in the budget.</p>
    <p align="left"> Ultimately consumer ends up in buying things at higher prices.</p>

</p>

<p align="left"><b><u>Objective</u></b></p>
<p align="left"></p>

<p align="left" >  Simplifies grocery shopping.</p>
<p align="left">  Best price at your fingertips.</p>
<p align="left">  User makes appropriate decision based on real time information.</p>

<p align="left"><b><u>Solution</u></b></p>
<p align="left"></p>

<p align="left">  Comparison of grocery at one stop.</p>
<p align="left">  Best price suggestion.</p>
<p align="left">  Hassle free buying decision in minimum time.</p>

<p align="left">Our objective is to limit impulsive buying.</p>

<p align="left">We at Sahi Keemat provides exactly. <b> "What You Want."</b></p>


</div>
</body>
</html>
