<!DOCTYPE html>

<head>
    <title>Sahi-Keemat</title>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>sahi keemat</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <style>

    table, th, td
    {
    border: 1px solid black;
    border-collapse: collapse;
    }
    table.center {
    margin-left: auto;
   margin-right: auto;
   }
   body {
  height: 1000px;
  width: 1000px;
}
   </style>
</head>

<body background="static/SAHI KEEMAT.jpg" >
<table class="table table-sm">
    <table background="static/SAHI KEEMAT.jpg"/>

<thead>
                        <tr>
                            <th><h6>Site Name</h6></th>
                            <th><h6 align="center"> Url </h6> </th>
                            <th><h6>Product-Price</h6></th>

                        </tr>
                    </thead>
    <tbody>
    {% for item, components_data in test_dict.items() %}
   <tr>
        <td>{{ key }} </td>
        <td>{{value}}</td>
   </tr>
    {% endfor %}
    <tr>
   {% for sub_components, sub_comp_dat in test_dict.items()%}

<td>{{sub_components}}</td>

                        <td><a href="{{ sub_comp_dat[0] }}">{{ sub_comp_dat[0] }}</a></td>
                        <td>{{ sub_comp_dat[1] }}</td>
                        </tr>
   {% endfor %}

     </tbody>
</table>
 <script>
function scrollWin(x,y) {
  window.scrollBy(x,y);
}
</script>
</body>
</html>
